torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1
decord
lightning
einops
scikit-learn
opencv-python
av
lmdb
pandas
x_transformers
ftfy
regex
cupy
pynvrtc
timm
humanize
ffmpeg-python
Ninja
